{{/*首先继承根模板*/}}
{{template "base.html"}}
{{/*然后重新定义块模板*/}}
{{define "content"}}
    <p>《水浒传》</p>
    <span>话说大宋仁宗天子在位，嘉祐三年三月三日五更三点，天子驾坐紫宸殿，受百
官朝贺。但见：
　　祥云迷凤阁，瑞气罩龙楼。含烟御柳拂旌旗，带露宫花迎剑戟。天香影里，玉
簪朱履聚丹墀；仙乐声中，绣袄锦衣扶御驾。珍珠帘卷，黄金殿上现金轝，凤羽扇
开，白玉阶前停宝辇。隐隐净鞭三下响，层层文武两班齐。
    当有殿头官喝道：“有事出班早奏，无事卷帘退朝。”只见班部丛中，宰相赵
哲、参政文彦博出班奏曰：“目今京师瘟疫盛行，伤损军民甚多。伏望陛下释罪宽
恩，省刑薄税，祈禳天灾，救济万民。”天子听奏，急敕翰林院随即草诏，一面降
赦天下罪囚，应有民间税赋，悉皆赦免；一面命在京宫观寺院，修设好事禳灾。不
料其年瘟疫转盛，仁宗天子闻知，龙体不安，复会百官计议。向那班部中，有一大
臣，越班启奏。天子看时，乃是参知政事范仲淹，拜罢起居，奏曰：“目今天灾盛
行，军民涂炭，日夕不能聊生。以臣愚意，要禳此灾，可宣嗣汉天师星夜临朝，就
京师禁院，修设三千六百分罗天大醮，奏闻上帝，可以禳保民间瘟疫。”仁宗天子
准奏，急令翰林学士草诏一道，天子御笔亲书，并降御香一炷，钦差内外提点殿前
太尉洪信为天使，前往江西信州龙虎山，宣请嗣汉天师张真人星夜来朝，祈禳瘟疫。
就金殿上焚起御香，亲将丹诏付与洪太尉，即便登程前去。
　　洪信领了圣敕，辞别天子，背了诏书，盛了御香，带了数十人，上了铺马，一
行部队，离了东京，取路径投信州贵溪县来。但见：
　　遥山叠翠，远水澄清。奇花绽锦绣铺林，嫩柳舞金丝拂地。风和日暖，时过野
店山村；路直沙平，夜宿邮亭驿馆。罗衣荡漾红尘内，骏马驰驱紫陌中。
　　且说太尉洪信赍擎御诏，一行人从，上了路途，不止一日，来到江西信州。大
小官员，出郭迎接。随即差人报知龙虎山上清宫住持道众，准备接诏。次日，众位
官同送太尉到于龙虎山下，只见上清宫许多道众，鸣钟击鼓，香花灯烛，幢幡宝盖，
一派仙乐，都下山来迎接丹诏，直至上清宫前下马。太尉看那宫殿时，端的是好座
上清宫!但见：
　　青松屈曲，翠柏阴森。门悬敕额金书，户列灵符玉篆。虚皇坛畔，依稀垂柳名
花；炼药炉边，掩映苍松老桧。左壁厢天丁力士，参随着太乙真君；右势下玉女金
童，簇捧定紫微大帝。披发仗剑，北方真武踏龟蛇；趿履顶冠，南极老人伏龙虎。
前排二十八宿星君，后列三十二帝天子。阶砌下流水潺。墙院后好山环绕。鹤生
丹顶，龟长绿毛。树梢头献果苍猿，莎草内衔芝白鹿。三清殿上，击金钟道士步虚；
四圣堂前，敲玉罄真人礼斗。献香台砌，彩霞光射碧琉璃；召将瑶坛，赤日影摇红
玛瑙。早来门外祥云现，疑是天师送老君。</span>
{{end}}